# Messaging & Storage
pika
minio
boto3

# Whisper model for speech recognition
openai-whisper==20231117
torchaudio
torch

# NLP
spacy
transformers

# InfluxDB client
influxdb-client

# Topic Modeling (BERTopic & scikit-learn)
bertopic
umap-learn
hdbscan
scikit-learn
pandas
tqdm
