# Messaging & Storage
pika==1.3.2
minio==7.2.3
boto3==1.34.73  # Needed only if using AWS S3, can remove if only using MinIO

# Whisper model for speech recognition
openai-whisper==20231117
torchaudio==2.1.2
torch==2.1.2  # Make sure this version is compatible with your CUDA / CPU setup

# NLP
spacy==3.7.2
transformers>=4.32.0,<5.0.0



# InfluxDB client
influxdb-client==1.43.0

# Core NLP / ML tools
scikit-learn==1.4.2
pandas==2.2.2
tqdm==4.66.4

# Sentence Transformers backend (still kept for potential use)
sentence-transformers==2.6.1
faster-whisper==0.10.0
